/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}


.bg-head {
  width: 100%;
  position: fixed;
  /* overflow: hidden; */
  background-color: dodgerblue;
  padding: 5px 0px;
  top: 0;
  /* margin-bottom: 90px; */
}


.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover{
  color: black;
  transition: 0.5s;
}
.header-right a:hover {
  /* background-color: rgb(241, 241, 241); */
  transition: 1s;
  color: black;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}


/* ====================================================Daftar team */

@media screen and (max-width: 500px) {
  .bg-content{
    padding-top: 190px;
  }
}
.bg-content{
  margin-top: 120px;
}


/* =========================================================Klasemen */
@media screen and (max-width: 500px) {
  .bg-klasemen{
    padding-top: 190px;
  }
}

.bg-klasemen{
  margin-top: 120px;
}



/* =============================================================jadwal */
@media screen and (max-width: 500px) {
  .bg-jadwal{
    padding-top: 190px;
  }
}
.bg-jadwal{
  margin-top: 120px;
}